<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>All products</title>
	<link rel = "stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  />
</head>
<body>
	<div class="container" align="center">
		<h1><b class="text-warning">Product is not saved! Fill in all fields!</b></h1>
		<h3><a th:href = "@{/list}">List of all products</a></h3>
		<h3><a th:href = "@{/new}">Create new product</a></h3>

	</div>
	
</body>
</html>